<aside class="fixed top-2 left-2 bottom-2 w-56 bg-white rounded-lg shadow-md flex flex-col justify-between"
  id="sidenav-main">

  <!-- Header -->
  <div class="px-4 py-3 relative flex items-center border-b border-gray-200">
    <a class="flex items-center space-x-2" routerLink="/admin" title="Ir al admin">
      <img src="assets/logo.png" width="28" height="28" alt="logoAdmin" /> 
      <span class="text-sm font-semibold text-sky-700 select-none">Administracion</span>
    </a>
  </div>

  <!-- Body -->
  <nav class="flex-grow overflow-y-auto scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100 px-4 py-2">
    <ul class="flex flex-col space-y-1">
      <li>
        <a routerLink="dashboard" routerLinkActive="bg-gradient-to-r from-sky-600 to-sky-800 text-white rounded"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center space-x-2 text-gray-800 hover:bg-blue-100 rounded px-3 py-2 transition">
          <mat-icon class="text-gray-600 group-hover:text-gray-900">dashboard</mat-icon>
          <span class="text-xs font-medium">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="locales" routerLinkActive="bg-gradient-to-r from-sky-600 to-sky-800 text-white rounded"
          class="flex items-center space-x-2 text-gray-800 hover:bg-blue-100 rounded px-3 py-2 transition">
          <mat-icon class="text-gray-600">store</mat-icon>
          <span class="text-xs font-medium">Locales</span>
        </a>
      </li>
      <li>
        <a routerLink="usuarios" routerLinkActive="bg-gradient-to-r from-sky-600 to-sky-800 text-white rounded"
          class="flex items-center space-x-2 text-gray-800 hover:bg-blue-100 rounded px-3 py-2 transition">
          <mat-icon class="text-gray-600">person</mat-icon>
          <span class="text-xs font-medium">Usuarios</span>
        </a>
      </li>
      <li>
        <a routerLink="comisiones" routerLinkActive="bg-gradient-to-r from-sky-600 to-sky-800 text-white rounded"
          class="flex items-center space-x-2 text-gray-800 hover:bg-blue-100 rounded px-3 py-2 transition">
          <mat-icon class="text-gray-600">payments</mat-icon>
          <span class="text-xs font-medium">Comisiones</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Footer -->
  <div class="px-4 py-3 border-t border-gray-200 flex flex-col gap-2">
    <a routerLink="/" class="flex items-center space-x-2 text-gray-800 hover:bg-blue-100 rounded px-3 py-2 transition w-full text-left">
      <mat-icon class="text-gray-600">home</mat-icon>
      <span class="text-xs font-medium">Ir al sitio</span>
    </a>
    <hr>
    <button (click)="logout()"
      class="flex items-center space-x-2 text-gray-800 hover:bg-gray-100 rounded px-3 py-2 transition w-full text-left">
      <mat-icon class="text-gray-600">logout</mat-icon>
      <span class="text-xs font-medium">Cerrar sesión</span>
  </button>
  </div>
</aside>