@use "tailwindcss";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-raised-button:not(:disabled) {
  background-color: #000000 !important; // Azul Tailwind (por ejemplo)
  color: white !important;
}

/* Transiciones para menús móviles */
.mobile-menu {
  transition: transform 0.3s ease-in-out;
}

/* Mejoras para tarjetas en móviles */
@media (max-width: 768px) {
  .card-view .card-item {
    display: block;
  }
}